.album_cover{
	width:25%;
	border: 1px solid blue;
	min-height: 150px;
}

.photo_list{
	width:80%;
	max-height: 130px;
	padding: 30px;
}
.single_photo{width: 75%;}

.col-md-1,.col-md-5, .col-md-4{
	width:25%;
	border: 5px solid red;
}

.basic_img{width: 100%;
}
